.chroma .lntd { ; vertical-align: top; padding: 0; margin: 0; border: 0; } /* LineTableTD */ 
.chroma .lntable {background: #f7f8f8; border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; } /* LineTable */ 
.chroma .hl { background-color: #ffffcc; display: block; width: 100% } /* LineHighlight */ 
.chroma .lnt { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; } /* LineNumbersTable */ 
.chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; } /* LineNumbers */ 
.chroma  { background: #151515; color: #f5f5f5 }
.chroma .c { color: #505050 } /* Comment */
.chroma .err { color: #ac4142 } /* Error */
.chroma .k { color: #aa759f } /* Keyword */
.chroma .l { color: #d28445 } /* Literal */
.chroma .n { color: #f5f5f5 } /* Name */
.chroma .o { color: #75b5aa } /* Operator */
.chroma .p { color: #f5f5f5 } /* Punctuation */
.chroma .cm { color: #505050 } /* Comment.Multiline */
.chroma .cp { color: #505050 } /* Comment.Preproc */
.chroma .c1 { color: #505050 } /* Comment.Single */
.chroma .cs { color: #505050 } /* Comment.Special */
.chroma .gd { color: #ac4142 } /* Generic.Deleted */
.chroma .ge { font-style: italic } /* Generic.Emph */
.chroma .gh { color: #f5f5f5; font-weight: bold } /* Generic.Heading */
.chroma .gi { color: #90a959 } /* Generic.Inserted */
.chroma .gp { color: #505050; font-weight: bold } /* Generic.Prompt */
.chroma .gs { font-weight: bold } /* Generic.Strong */
.chroma .gu { color: #75b5aa; font-weight: bold } /* Generic.Subheading */
.chroma .kc { color: #aa759f } /* Keyword.Constant */
.chroma .kd { color: #aa759f } /* Keyword.Declaration */
.chroma .kn { color: #75b5aa } /* Keyword.Namespace */
.chroma .kp { color: #aa759f } /* Keyword.Pseudo */
.chroma .kr { color: #aa759f } /* Keyword.Reserved */
.chroma .kt { color: #f4bf75 } /* Keyword.Type */
.chroma .ld { color: #90a959 } /* Literal.Date */
.chroma .m { color: #d28445 } /* Literal.Number */
.chroma .s { color: #90a959 } /* Literal.String */
.chroma .na { color: #6a9fb5 } /* Name.Attribute */
.chroma .nb { color: #f5f5f5 } /* Name.Builtin */
.chroma .nc { color: #f4bf75 } /* Name.Class */
.chroma .no { color: #ac4142 } /* Name.Constant */
.chroma .nd { color: #75b5aa } /* Name.Decorator */
.chroma .ni { color: #f5f5f5 } /* Name.Entity */
.chroma .ne { color: #ac4142 } /* Name.Exception */
.chroma .nf { color: #6a9fb5 } /* Name.Function */
.chroma .nl { color: #f5f5f5 } /* Name.Label */
.chroma .nn { color: #f4bf75 } /* Name.Namespace */
.chroma .nx { color: #6a9fb5 } /* Name.Other */
.chroma .py { color: #f5f5f5 } /* Name.Property */
.chroma .nt { color: #75b5aa } /* Name.Tag */
.chroma .nv { color: #ac4142 } /* Name.Variable */
.chroma .ow { color: #75b5aa } /* Operator.Word */
.chroma .w { color: #f5f5f5 } /* Text.Whitespace */
.chroma .mf { color: #d28445 } /* Literal.Number.Float */
.chroma .mh { color: #d28445 } /* Literal.Number.Hex */
.chroma .mi { color: #d28445 } /* Literal.Number.Integer */
.chroma .mo { color: #d28445 } /* Literal.Number.Oct */
.chroma .sb { color: #90a959 } /* Literal.String.Backtick */
.chroma .sc { color: #f5f5f5 } /* Literal.String.Char */
.chroma .sd { color: #505050 } /* Literal.String.Doc */
.chroma .s2 { color: #90a959 } /* Literal.String.Double */
.chroma .se { color: #d28445 } /* Literal.String.Escape */
.chroma .sh { color: #90a959 } /* Literal.String.Heredoc */
.chroma .si { color: #d28445 } /* Literal.String.Interpol */
.chroma .sx { color: #90a959 } /* Literal.String.Other */
.chroma .sr { color: #90a959 } /* Literal.String.Regex */
.chroma .s1 { color: #90a959 } /* Literal.String.Single */
.chroma .ss { color: #90a959 } /* Literal.String.Symbol */
.chroma .bp { color: #f5f5f5 } /* Name.Builtin.Pseudo */
.chroma .vc { color: #ac4142 } /* Name.Variable.Class */
.chroma .vg { color: #ac4142 } /* Name.Variable.Global */
.chroma .vi { color: #ac4142 } /* Name.Variable.Instance */
.chroma .il { color: #d28445 } /* Literal.Number.Integer.Long */
